
/*common css*/
body{
  font-family: SourceSansPro;
  background: url(../img/bg.png);
  background-position: 0 4%;
  background-size: cover;
  background-repeat: no-repeat; 

}

.navbar{
  background: white
} 
.navbar-brand{
      position: relative;
    margin-left: 5%;
}
.navbar-brand img{
      position: absolute;
    top: -19px;
}
li.nav-item{
  text-align: right;
}
.bg-light {
    background-color: #ffffff !important;
}
.center-border{
}
.left-partition{
    padding: 0;
}
.right-partition{
  background:#ffffff;
  color:#4a4a4a;
}
.carousal-row{
  margin-left: -20px;
}
.carousal-padding-0{
  padding: 0;
}
#carouselExampleIndicators{
  height: 100%;
}

.carousel-inner{
  height: 100%;
}

.carousel-inner .w-100 {
    width: 101%!important;
}
.carousel-item{
  height: 100%
}
img.d-block.w-100 {
    height: 36em;
}
/*img.d-block.w-100 {
    height: 14em;
}*/

.NotValid{
  visibility: hidden;
}
.term-container{
  background: #ffffff;
  color: #4a4a4a;
  font-size: 1em;
}
.footer-section{
      position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}
.footer-copyright{
  background: #f5a623;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff !important;
}
.footer-copyright a{ 
    color: #ffffff !important;
}
.nav-only-cell{
  display: none;
}
@media (max-width: 575px) { 

   img.d-block.w-100 {
    height: 14em !important;
}
.nav-only-cell{
  display: block !important;
  }
  .right-partition {
      margin: 0 8px 20px;
      padding: 8px;
      width: 95%;
  }
    .term-main-area{
    width: 90% !important;
  }
  .stage {
      background: url(../img/stageM.png) !important;
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
         padding-top: 85% !important;
    padding-bottom: 15% !important;
    padding-left: 30%;
    position: relative;

  }
  .stage-congrats{
      background: url(../img/stageM-congrats.png) !important;
      background-size: 100% 100% !important;   
  }
  .congrats-msg{
    position: absolute;
    top: 118px;
    left: 27px;
    padding: 0px 9px;
  }
  .doorStation {
        width: 168px !important;
    height: 170px !important;
    position: relative;

  }
}
/*
// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
  .nav-only-cell{
  display: block !important;
  }
  .term-main-area{    
    width: 90% !important;
  }
  .doorStation {
    width: 260px !important;
    height: 185px !important;    
    position: relative;
  }
  .stage {
      background: url(../img/stageM.png) !important;
      background-size:100% 100% !important;
      background-repeat: no-repeat !important;
      padding-top: 85% !important;
      padding-bottom: 15% !important;
      padding-left: 31%;
      position: relative;
  }
   .stage-congrats{
      background: url(../img/stageM-congrats.png) !important;
      background-size: 100% 100% !important;   
  }
  .congrats-msg{
    position: absolute;
    top: 118px;
    left: 27px;
    padding: 0px 9px;

  }
  }
/*
// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .nav-only-cell{
  display: block !important;
  }

  .captcha-container{
    max-width: 100%
  } 
 }
/*
// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
  body{
    padding-bottom: 5%;
  }
  .main-area{
    margin-top:2%;
  }
 
 }
/*
// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
  body{
    padding-bottom: 5%;
  }
  .main-area{
    margin-top:2%;
  }
}


/*form css*/
input::placeholder{
    color:#929699;
    font-size:0.9em;
}
.red-t , .navbar-light .navbar-nav .nav-link{
  color: #d51a1b !important;
}
.gray-t{
  color:#4a4a4a !important;
}
.btn-submit{
  border-radius: 0.2em; 
  background-color: #d51a1b;
  width: 100%;
  color:white;
}
.err-msg{
  background:#ffe1e5;
  color: #e74c3c;
      border-radius: 6em;
    padding: 5px 36px;
    text-align: center;
}



/* Gift Page */
 .doorStation{
    width: 370px;
    height: 279px;
    position: relative;

  }
   .doorStation .opendoor{
   background: url(../img/open.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%
  }
  .doorStation .closedoor{
    background:url('../img/close.png');
      background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%
  }
  .prize{
   background:url('../img/prize.png');
      background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 5%;
    width: 5%; 
        position: absolute;
    top: 50%;
    left: 44%;
    opacity: 0;
  }
  .stage{
    background: url(../img/stage.png);
    background-size: 100% 100%;
        padding-top: 20%;
    padding-bottom: 5%;
  }
  .stage-congrats{
         background: url(../img/stage-congrats.png) ;
    background-size: 100% 100% !important;   
  }
  .congrats-msg {
    visibility: hidden;
    opacity: 0
  }

  .btn-redirect{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0.3em 1.2em;
    color: #d51a1b;
  }
  .redirect-msg{
    color: #ffffff;
  }
  .section-redirect{
     opacity: 0
  }
